.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-top: 40px;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .buttonRSVP {
    background-color: yellow; /* Green */
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    transition-duration: 0.4s;
    margin-top: 40px;
  }

  .buttonRSVP:hover {
    background-color: yellow;
  }

  .form-input {
    display: block;
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 400px;
  }

  .form-container {
    text-align: center;
  }

  .rsvp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .loading-container {
    text-align: center;
  }
  
  
  
  